<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.goldplusgold.imageloader.lib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.jinkegroup.imageloader.lib.GlideModelConfig"
            android:value="GlideModule" />
    </application>

</manifest>
